*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.operator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.operator-list{
    display: flex;
}
.operator{
    padding: 2rem;
    border: 2px solid black;
    margin: 1rem;
    font-size: 2rem;
}
.start-game{
    margin-top: 2rem;
    padding: 10px;
    background-color: black;
    color:white
}
.selected{
    background-color: aqua;
    position: absolute;
}